---
layout: page
title: "About"
description: "「他单纯只想把日子过得不浪费」"
header-img: "img/about-bg.jpg"
multilingual: true
---

{% include multilingual-sel.html %}

<!-- Chinese Version -->
<div class="zh post-container about-content">
    {% capture about_zh %}{% include about/zh.md %}{% endcapture %}
    {{ about_zh | markdownify }}
</div>

<!-- English Version -->
<div class="en post-container about-content">
    {% capture about_en %}{% include about/en.md %}{% endcapture %}
    {{ about_en | markdownify }}
</div>


{% if site.giscus_enabled %}
<div class="comment">
    <script src="https://giscus.app/client.js"
        data-repo="{{ site.giscus_repo }}"
        data-repo-id="{{ site.giscus_repo_id }}"
        data-category="{{ site.giscus_category }}"
        data-category-id="{{ site.giscus_category_id }}"
        data-mapping="pathname"
        data-strict="0"
        data-reactions-enabled="1"
        data-emit-metadata="0"
        data-input-position="bottom"
        data-theme="preferred_color_scheme"
        data-lang="zh-CN"
        crossorigin="anonymous"
        async>
    </script>
</div>
{% endif %}
