{% comment %}
    @param {Boolean} center
{% endcomment %}

{% if include.center %}
<ul class="list-inline text-center">
{% else %}
<ul class="list-inline">
{% endif %}

  {% if site.RSS %}
  <li>
    <a href="{{ "/feed.xml" | prepend: site.baseurl }}">
      <span class="sns-icon-wrap">
        <svg class="icon icon-circle-bg"><use href="#icon-circle"></use></svg>
        <svg class="icon icon-fg"><use href="#icon-rss"></use></svg>
      </span>
    </a>
  </li>
  {% endif %}
  {% if site.zhihu_username %}
  <li>
    <a target="_blank" href="https://www.zhihu.com/people/{{ site.zhihu_username }}">
      <span class="sns-icon-wrap">
        <svg class="icon icon-circle-bg"><use href="#icon-circle"></use></svg>
        <span class="sns-text-fg">知</span>
      </span>
    </a>
  </li>
  {% endif %}
  {% if site.csdn_username %}
  <li>
    <a target="_blank" href="https://blog.csdn.net/{{ site.csdn_username }}">
      <span class="sns-icon-wrap">
        <svg class="icon icon-circle-bg"><use href="#icon-circle"></use></svg>
        <span class="sns-text-fg">C</span>
      </span>
    </a>
  </li>
  {% endif %}
  {% if site.github_username %}
  <li>
    <a target="_blank" href="https://github.com/{{ site.github_username }}">
      <span class="sns-icon-wrap">
        <svg class="icon icon-circle-bg"><use href="#icon-circle"></use></svg>
        <svg class="icon icon-fg"><use href="#icon-github"></use></svg>
      </span>
    </a>
  </li>
  {% endif %}
</ul>
