// Mixins

.transition-all() {
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
}

.background-cover() {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.monospace () {
    font-family: var(--mono);
}

.serif() {
	font-family: var(--serif);
}

.sans-serif () {
    font-family: var(--sans);
    line-height: 1.85;
}
